.u-section-1 {
  background-image: linear-gradient(white, #adcce9);
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  width: 719px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 719px;
  margin: 68px auto 0;
}

.u-section-1 .u-text-3 {
  width: 719px;
  font-size: 1.25rem;
  margin: 26px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}.u-section-2 {
  background-image: linear-gradient(#adcce9, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}